<h2>Applications</h2>

 <p-table [value]="applications" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Summary</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-app>
        <tr>
            <td>{{app.name}}</td>
            <td>{{app.type}}</td>
            <td>{{app.summary}}</td>
            <td></td>
        </tr>
    </ng-template>
</p-table>